[www]
listen = 127.0.0.1:9000
listen.allowed_clients = 127.0.0.1
user = {{ php_fpm_pool_user }}
group = {{ php_fpm_pool_group }}

pm = dynamic
pm.max_children = 50
pm.start_servers = 5
pm.min_spare_servers = 5
pm.max_spare_servers = 5
pm.max_requests = 500


env[MB_STAGE] =  "{{ mb_stage }}"
env[MB_PHPLIB_ROOT] =  "{{ mb_phplib_root }}"
env[MB_LOOKUP_INTERFACE_ROOT] =  "{{ mb_lookup_interface_root }}"
env[MB_APPLICATION_INTERFACE_ROOT] =  "{{ mb_application_interface_root }}"
env[MB_CONTACT_INTERFACE_ROOT] =  "{{ mb_contact_interface_root }}"
env[MB_INTERFACE_ROOT] =  "{{ mb_interface_root }}"
env[MB_PROJECT_ROOT_NL] =  "{{ mb_project_root_nl }}"
env[MB_LOG_ROOT] =  "{{ mb_log_root }}"
env[SYMFONY_ENV] =  "{{ mb_symfony_env }}"
env[MB_HOSTNAME_MVIBES_SERVER] =  "{{mb_hostnames.mvibes_server[0]}}"
env[MB_HOSTNAME_MBIS] =  "{{mb_hostnames.login_mobilebridges[0]}}"
env[MB_HOSTNAME_MBIS_ADMIN] =  "{{mb_hostnames.mbis[0]}}"
env[MB_HOSTNAME_MBIS2] =  "{{mb_hostnames.mbis2[0]}}"
env[MB_HOSTNAME_CDN] =  "{{mb_hostnames.cdn[0]}}"
env[MB_HOSTNAME_MPROFILE_SERVER] =  "{{mb_hostnames.mprofile_server[0]}}"
env[MB_HOSTNAME_BACKEND] =  "{{mb_hostnames.backend[0]}}"
env[MB_HOSTNAME_MVIBES_CMT] =  "{{mb_hostnames.mvibes_cmt[0]}}"
env[MB_HOSTNAME_MVIBES_IFRAME] =  "{{mb_hostnames.mvibes_iframe[0]}}"
env[MB_HOSTNAME_MCMS] =  "{{mb_hostnames.cms_xmade[0]}}"
env[MB_HOSTNAME_WEBMATCH] =  "{{mb_hostnames.webmatch[0]}}"
env[MB_HOSTNAME_MPAYMENT] =  "{{mb_hostnames.mpays_server[0]}}"
env[MB_HOSTNAME_HOVERAD] ="{{mb_hostnames.had_smstrack[0]}}"
env[MB_HOSTNAME_GEOLOCATOR]="{{mb_hostnames.geolocator[0]}}"
security.limit_extensions =  .php .php5

env[PHP_IDE_CONFIG] = "serverName=mb.dev"